html {
    background: url(images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.body-container {
    display: flex;
    /* flex-flow: row nowrap; */
    justify-content: center;
    align-content: center;
}

.title {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-family: 'pixel-art-font';
    font-size:50px;
    color: white;
    text-shadow: 0 0 10px black;
}

#calc-body-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    background-color: grey;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 0 20px black;
}

.display-container {
    align-self: center;
    margin-top: 25px;
    margin-bottom: 10px;
    height: 50px;
    width: 260px;
    background-color: #cacfab;
    text-align: right;
    padding-top: 20px;
    padding-right: 10px;
    box-shadow: inset 0px 0px 5px black;
}

@font-face {
    font-family: 'pixel-art-font';
    src: url(fonts/Gameplay.ttf);
}

@font-face {
    font-family: 'digital-clock-font';
    src: url(fonts/digital-7.ttf) format('truetype');
}

@font-face {
    font-family: 'button-num-font';
    src: url(fonts/Name\ Smile.otf);
}

[data-current-display-input] {
    font-family: 'digital-clock-font';
    padding: 5px;;
    font-size: 40px;
}

[data-previous-display-input] {
    font-family: 'digital-clock-font';
}

#buttons-container {
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

#top-row{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

#second-row{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

#third-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

#bottom-row{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}


.calc-button {
    height: 65px;
    width: 65px;
    border-radius: 5px;
    font-family: 'button-num-font';
    font-size: 20px;
}

.calc-button:hover {
    transition-duration: 0.2s;
    background-color: yellow;
}

button {
    cursor: pointer;
}

#clear{
    background-color: #a32121;
    color: white;
}