#calc-body-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    background-color: black;
    align-items: center;
}

.display-container {
    align-self: center;
    margin-top: 25px;
    margin-bottom: 10px;
    height: 50px;
    width: 260px;
    background-color: white;
    text-align: right;
    padding-top: 20px;
    padding-right: 10px;
}


#buttons-container {
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

#top-row{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    /* justify-content: space-around;
    margin: 10px; */
}

#top-row .calc-button {
    background-color: white;
}

#second-row{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    /* justify-content: space-around;
    margin: 10px; */
}

#second-row .calc-button {
    background-color: white;
}

#third-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    /* justify-content: space-around;
    margin: 10px; */
}

#third-row .calc-button {
    background-color: white;
}

#bottom-row{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    /* justify-content: space-around;
    margin: 10px; */
}

#bottom-row .calc-button {
    background-color: white;
}

.calc-button {
    height: 60px;
    width: 60px;
}

button {
    cursor: pointer;
}

/* #zero {
    border: 5px solid black;
}

#subtract {
    border: 5px solid black;
}

#addition {
    border: 5px solid black;
}

#equals {
    border: 5px solid black;
}

#multiply {
    border: 5px solid black;
}

#three {
    border: 5px solid black;
}

#two {
    border: 5px solid black;
}

#one {
    border: 5px solid black;
}

#divide {
    border: 5px solid black;
}

#six {
    border: 5px solid black;
}

#five {
    border: 5px solid black;
}

#four {
    border: 5px solid black;
}

#clear {
    border: 5px solid black;
}

#nine {
    border: 5px solid black;
}

#eight {
    border: 5px solid black;
}

#seven {
    border: 5px solid black;
} */